
@{
    ViewBag.Title = "mailError";
}

<h2>Mail Error</h2>

Google recently upgraded their security. Here is the message that would be sent to the user:
<br />
@TempData["mailError"].ToString();

@Html.ActionLink("Return to home", "index", "CoreValueRecognitions")

