
@{
    ViewBag.Title = "NotAuthenticated";
}
<br />
<br />
<div class="alert alert-danger">
    <h2>Not Allowed</h2>
    You are only able to edit your own profile.
</div>
<br />
@Html.ActionLink("Return to home", "index", "Profiles")
